[*.cs]

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CA1036: Override methods on comparable types
dotnet_diagnostic.CA1036.severity = none

# S1210: "Equals" and the comparison operators should be overridden when implementing "IComparable"
dotnet_diagnostic.S1210.severity = none

# S4035: Classes implementing "IEquatable<T>" should be sealed
dotnet_diagnostic.S4035.severity = none
